*{
	margin: 0 auto;
	font-family: 'Poiret One', cursive;
	font-weight: bold;

}

a{
	text-decoration: none;
	color:inherit;
}
h1,h2{
	color:#d92758;
}

p{
	font-size: 25px;
}


.imodal{
	vertical-align: middle;
	line-height: 35px;
	width: 280px;
	background-color: #d92758;
	border: 0;
	cursor:pointer;
	font-size: 20px;
	color:white;
}


.wrapper{
	width:100%;
	min-width: 1300px;
	max-width:1600px;
	position: relative;
}

.top{
	position: fixed;
	min-width: 1300px;
	max-width:1600px;
	width:100%;
	padding: 20px 0px;
	background-color: white;
	z-index: 3;
}

.blockmenu{
	padding:2px;
	text-align:center;
	vertical-align: middle;
}

.blockmenu img{
	vertical-align: middle;
}

.topText{
	font-size: 25px;
	vertical-align: middle;
}

.logo{
	margin-left: 200px;
	width:400px;
	display: inline-block;
	float:left;
}

.logo > h1{
	float:left;
}

.topInfo{
	margin-left: 2%;
	vertical-align: middle;
	display: inline-block;
}

.headerimg{
	width:48%;
	display: inline-block;
}
.header{
	background-image: url(../img/full.jpg);
	background-size: cover;
	height: 700px;
}

.headerimg>img{
	padding: 25% 0% 10% 30%;
}

.headerinfo{
	margin-left: -50px;
	display: inline-block;
	width:50%;
	vertical-align: top;
	padding-top:11%;
	text-align: center;
}

.price{
	background-image: url(../img/bgprice.png);
	background-size: cover;
	padding: 2%;
	width:80%;
	margin-top: 4%;
}

.technolegi{
	width: 50%;
	margin: 5 auto;
	height:500px;
}
.techtext {
	width:49%;
	display: inline-block;
	font-size: 20px;
	vertical-align: top;
}

.images {
	width:49%;
	display: inline-block;
}

.technumb{
	font-size: 80px;
	color:#d92758;
	margin-left:-100px;
}

.technumbrightn{
	font-size: 80px;
	color:#d92758;
	margin-left:175%;
}

.techtitle{
	font-size: 20px;
	line-height: 2;
	color:#d92758;
}

.headerinfotitle{
	font-size: 40px;
	width:100%;
}

.headerInfoOldPrice{
	font-size: 45px; 
	text-decoration:line-through;
}

.headerInfoNewPrice{
	font-size: 35px; 
	color:#d92758;
	width:100%;
}

.booking{
	width: 50%;
	height:60px;
	margin: 20%;
}

.present{
	background-image: url(../img/fuul2.jpg);
	background-size: cover;
	margin-top: 50px;
	text-align: left;
}

.t{
	width:450px;
	padding:5%;
	font-size: 40px;
	position: relative;
	top: -265px;
	right:350px;
	color:white;
}

.portfolio{
	background-image: url(../img/backportfolio.jpg);
	background-size: cover;
	width:100%;
	margin-top: 180px;
}

.portPrice{
	color:#d92758;
	font-size: 40px;
	width:100%;
	line-height:80px;
}

.portfolioPriceB{

}

.portTit{
	margin-top: -45px;
	margin-top: -45px;
	width:30%;
	text-align: center;
	font-size: 30px;
	padding: 2%;
	padding: 2%;
	background-color: white;
	border-radius: 50px;
}

.portfoliGallery{
	margin-top: 20px;
}

.portImag{
	display: inline-block;
	width:60%;
	max-width: 569px;
	overflow: hidden;
}

.slider {
	width:9999px;
	height:317px;
	position: relative;
	right: 0;
	transition: all ease 1s;">
}

.portImag img{
	width:569px;
	height:317px;
	float:left;
}

.portName{
	display: inline-block;
	width:35%;
	vertical-align: top;
	margin-top: 2%;
	position:relative;
	z-index: 2;
	right: 60px;
	background-color: white;
	padding: 4% 2%;
	text-align: center;
}

.portNameRight{
	display: inline-block;
	width:39%;
	vertical-align: top;
	margin-top: 2%;
	margin-right:-60px;
	background-color: white;
	padding: 4% 2%;
	text-align: center;
	position: relative;
	z-index: 2;
}

.portfolioPrice{
	margin: 0 auto;
	width:70%;
}

.portfolioPriceRight{
	margin: 0 auto;
	width:70%;
}

.navgationleft{
	margin-top: -50px;
	border: 0;
	position:relative;
	z-index: 2;
}
.navgationRight{
	margin-top: -50px;
	border: 0;
	position: relative;
    z-index: 2;
	text-align:right;
	width:95%;
}

.nextimg{
	width:71px;
	height:83px;
	display: inline-block;
	cursor: pointer;
	background-image: url(../img/tech/rightNavigation.png);
}

.previmg{
	width:71px;
	height:83px;
	display: inline-block;
	cursor: pointer;
	background-image: url(../img/tech/leftNavigation.png);
}

.reviews{
	background-color: white;
	width:100%;
	min-width: 1300px;
	height: 600px;
	overflow: hidden;
}

.reviewsinform{
	width:70%;
	margin:0 auto;
	min-width: 1000px;
	height: 500px;
}

#reviewsimg{
	border:0;
}

.reviewsinformer{
	display:inline-block;
	width:49%;
	border:0;
	vertical-align: top;
	height:580px;
}

.test{
	border-right:1px solid #d92758;
	height:450px;
	overflow: hidden;
}

#blockSlide{
	position: relative;
	height:5000px;
	top:0;
	transition: all ease 1s;">
}

.ReviewsName{
	margin-top: 15%;
	position: relative;
	z-index: 2;
	right: 15%;
}

.reviewsText{
	padding: 2%;
	font-size: 25px;
	margin-top: 15%;
	position: relative;
	z-index: 2;
	right: 15%;
	height: 280px;

}

.navigationUp {
	position: relative;
	z-index: 2;
	top: 15px;
	right:-13px;
	text-align: right;
	width:99.1%;
	font-size: 30px;
	cursor: pointer;
	color:#d92758;
}

.navigationDown{
	position: relative;
	z-index: 2;
	top:510px;
	right:-15px;
	text-align: right;
	width:99%;
	font-size: 30px;
	cursor: pointer;
	color:#d92758;
}

.footer{
	background-color: #333;
	text-align: center;
	color:white;
	font-size: 20px;
	padding:3%;
	margin-top: -5px;

}

.logo, .social{
	width:25%;
	display: inline-block;
	vertical-align: middle;
}

.tty{
	vertical-align: top;
}

.ModalOff{
	display:none;
}

.modalWindow{
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
	background: #000000ba;
}

.close{
	float: right;
	font-size: 25px;
	cursor:pointer;
	margin-top:-40px;
	margin-right:-40px;
	width:20px;
	height:20px
}

.close:hover{
	background-color: red;
	border-radius: 60px;
}

.close::after{
	content: "";
	float:none;
}

.modalContext{
	text-align: center;
	margin:5% auto;
	width:300px;
	height:350px;
	padding:50px 50px 80px 50px;
	background-color: white;

}

.formin{
	width: 100%;
	height:40px;
	outline:0;
	padding:0;
	margin:2%;
}

#td{
	height:40px;
	width:45%;
	outline:0;
	padding:0;
	margin-left:2%;
	margin-top:2%;
	margin-bottom:10%;
}

#form>{
	width: 100%;
}

.modalText{
	font-size: 30px;
}
.modalText2{
	font-size: 25px;
	padding: 15px;
}